body {
    background-color: #9bcb88;
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    padding: 20px;
}

.header img.logo {
    width: 100px;
    /* ปรับความกว้างตามต้องการ */
    height: 100px;
    /* สูงอัตโนมัติเพื่อรักษาสัดส่วน */
    margin-right: -50px;
    /* ระยะห่างจากเนื้อหาข้างเคียง */
    border-radius: 50%;
    /* ทำให้เป็นวงกลม */
}

.header-right {
    margin-left: auto;
    /* เลื่อนปุ่มล็อคอินไปทางขวาสุด */
}

#backButton {
    padding: 10px 20px;
    /* ขนาดของปุ่ม */
    background-color: #7fa66d;
    /* สีพื้นหลัง */
    color: #fff;
    /* สีตัวอักษร */
    border: none;
    /* ไม่มีเส้นขอบ */
    border-radius: 5px;
    /* มุมโค้ง */
    cursor: pointer;
    /* แสดงว่าคลิกได้ */
    font-size: 16px;
    /* ขนาดตัวอักษร */
    transition: background-color 0.3s, transform 0.3s;
    /* เอฟเฟกต์เปลี่ยนสีพื้นหลังและการขยาย */
    margin-left: 70px;
    /* เพิ่มระยะห่างจากโลโก้ */
}

#backButton:hover {
    background-color: #6a9e5d;
    /* เปลี่ยนสีเมื่อชี้เมาส์ */
    transform: scale(1.05);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5a6d3d;
    padding: 10px;
    border-radius: 10px;
}

.header input {
    width: 60%;
    padding: 8px;
    border: 2px solid #9bcb88;
    border-radius: 5px;
}

.header button {
    padding: 10px;
    background-color: #9bcb88;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.header button:hover {
    background-color: #7fa66d;
}

.product-details {
    display: flex;
    align-items: center;
    /* จัดตำแหน่งกลางแนวตั้ง */
}

.product-image {
    max-width: 300px;
    /* ปรับขนาดรูปภาพให้เหมาะสม */
    height: auto;
    /* รักษาสัดส่วน */
    margin-right: 20px;
    /* ช่องว่างระหว่างรูปภาพและข้อมูลสินค้า */
}

.product-info {
    flex-grow: 1;
    /* ขยายให้ข้อมูลสินค้าใช้พื้นที่ที่เหลือ */
}

form {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

form label {
    margin: 10px 0 5px;
}

form input,
form select {
    width: 10%;
    padding: 8px;
    border: 2px solid #9bcb88;
    border-radius: 10px;
    margin-bottom: 15px;
}

form button {
    width: 20%;
    padding: 10px;
    background-color: #9bcb88;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #7fa66d;
}

#qrCodeSection img {
    max-width: 200px;
    margin-bottom: 10px;
}

#qrCodeSection input[type="file"] {
    display: block;
    margin-top: 10px;
}

.page-title {
    font-size: 24px;
    color: white;
    margin-left: 20px;
    /* จัดระยะห่างจากโลโก้ */
    flex-grow: 1;
    text-align: center;
    /* จัดให้อยู่ตรงกลาง */
}